@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

#root{
  background-color: #b96464;
  width: 100vw;
  margin-top: 10vh;
  font-size: 1rem;
  color: white;
  font-family: Roboto;
}

#app {
  min-width: 350px;
  
}

#title{
  text-align: center;
  margin-bottom: 1vh;
  text-decoration: underline;
}

.control-text{
  display: inline;
  margin: 0 1vw;
}

#time-controls{
  display: flex;
  justify-content: space-between;
}

.time-control{
  border: 1vh solid white;
  padding: 1vh 2vw;
  margin: 1vh 1vw;
  text-align: center;
  width: 45vw;
}

h1, h2, h3, h5{
  margin: 0.5vh 0.5vw
}




button {
  background-color: #b96464;
  border: none;
  color: white;
  font-size: 1rem;
}

#clock-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("./tomato.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 40vh;
  color: white;
  margin: 2vh 1vw;
  padding: 2vh 2vw;
  text-align: center;
  font-size: 2rem;
  min-height: 350px;
  min-width: 350px;
  
  
}

img {
  width: auto;
  height: 100%;
  max-height: 500px;  
}

#timer-label{
  margin-top: 10rem;
  font-size: 3.5rem;
}

#time-left {
  font-size: 3rem;
}

#header {
  text-align: center;
}

#start_stop, #reset {
  font-size: 1.8rem;
  border-radius: 100%;
}


#footer {
  text-align: center;
  margin-top: 4.5vh;
}
