#app {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

#title{
  text-align: center;
  margin: 5vh auto
}

.control-text{
  display: inline;
  margin: 0 1vw;
}


.time-control{
  border: 0.5vw solid black;
  padding: 1vh 2vw;
  margin: 0.5vh, auto;
  text-align: center;
}

h2 {
  margin-top: 0.25vh;
  margin-bottom: 0.25vh;
}


#time-controls {
  justify-content: center;
  align-items: center;
}


#clock-container{
  margin: 4vh 1vw;
  padding: 2vh 2vw;
  text-align: center;
  border: 0.5vw solid black
}
